@mixin btn($bg: $accents, $color: $text){
    background: $bg;
    color: $color;
    padding: 10px 30px;
    text-decoration: none;
    transform: skewX(-15deg);
    border: 1px solid $accents;
    transition: $transition;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    &:hover{
        background: $text;
        color: $white;
        border: 1px solid $text;
    }
}