body {
  font-size: 16px;
}

h2 {
  font-weight: bolder;
  font-size: 3rem;
  font-style: italic;
}

.py {
  padding: 100px 0;
}
@media (max-width: 767px) {
  .py {
    padding: 50px 0;
  }
}

a {
  transition: 0.3s ease-in-out;
}

/*********************
Nav Style
*********************/
nav .navbar-brand img {
  width: 10%;
}
nav .nav-link {
  color: #fff;
  text-transform: uppercase;
}
nav .nav-link:hover {
  color: rgba(255, 209, 0, 0.8);
}

nav.sticky {
  background: rgba(255, 209, 0, 0.8);
  padding: 5px 0;
  box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.1);
}
nav.sticky .nav-link {
  color: rgba(0, 0, 0, 0.9);
}
nav.sticky .nav-link:hover {
  color: white;
  text-shadow: 0 0 1px black;
}

/*********************
Header Style
*********************/
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/header.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}
header h1 {
  color: #ffd100;
  font-style: italic;
  font-size: 5rem;
  font-weight: bolder;
  text-transform: uppercase;
  line-height: 1;
}
header p + .button {
  background: #ffd100;
  color: #212529;
  padding: 10px 30px;
  text-decoration: none;
  transform: skewX(-15deg);
  border: 1px solid #ffd100;
  transition: 0.3s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
}
header p + .button:hover {
  background: #212529;
  color: #fff;
  border: 1px solid #212529;
}
header .button:last-child {
  background: transparent;
  color: #ffd100;
  padding: 10px 30px;
  text-decoration: none;
  transform: skewX(-15deg);
  border: 1px solid #ffd100;
  transition: 0.3s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
}
header .button:last-child:hover {
  background: #212529;
  color: #fff;
  border: 1px solid #212529;
}
header .button:last-child:hover {
  background: #ffd100;
  color: #212529;
  border: 1px solid #212529;
}

/*********************
Slider Style
*********************/
.carousel-caption.up {
  top: 10px;
}

.carousel-caption .lead {
  color: #ffd100;
  text-shadow: 0 0 2px #000;
}

/*********************
Plan Style
*********************/
.plan .col-md-4:nth-child(2) {
  box-shadow: 0 0 30px lightgray;
}
.plan .col-md-4 ul {
  line-height: 2;
  padding: 30px 0;
}
.plan .col-md-4 ul li::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f655";
  color: #ffd100;
  text-shadow: 0 0 1px #000;
  margin-left: 5px;
}
.plan .col-md-4 .button {
  background: #ffd100;
  color: #212529;
  padding: 10px 30px;
  text-decoration: none;
  transform: skewX(-15deg);
  border: 1px solid #ffd100;
  transition: 0.3s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  margin-top: 30px;
}
.plan .col-md-4 .button:hover {
  background: #212529;
  color: #fff;
  border: 1px solid #212529;
}

/*********************
Map Style
*********************/
.map {
  position: relative;
}
.map h2 {
  position: absolute;
  top: 50px;
  right: 5%;
}
.map article {
  background: #ffd100;
  position: absolute;
  bottom: 50px;
  right: 5%;
  width: 30%;
  padding: 30px;
  border: 1px solid #000;
}

/*********************
Blog Style
*********************/
.blog .col-md-4 {
  position: relative;
}
.blog .col-md-4 a {
  color: #ffd100;
  text-transform: uppercase;
  text-shadow: 0 0 1px #000;
}
.blog .col-md-4 a:hover {
  color: #000;
}
.blog .col-md-4 h3 {
  position: absolute;
  bottom: 30px;
  left: 30px;
  color: white;
}
.blog .col-md-4 .button {
  background: #ffd100;
  color: #212529;
  padding: 10px 30px;
  text-decoration: none;
  transform: skewX(-15deg);
  border: 1px solid #ffd100;
  transition: 0.3s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  position: absolute;
  bottom: 30px;
  right: 40px;
}
.blog .col-md-4 .button:hover {
  background: #212529;
  color: #fff;
  border: 1px solid #212529;
}

/*********************
Subscribe Style
*********************/
.subscribe {
  background: #ffd100;
}
.subscribe input {
  padding: 10px 30px;
  border: 1px solid lightgray;
  transform: skewX(-15deg);
}
.subscribe .button {
  background: transparent;
  color: #fff;
  padding: 10px 30px;
  text-decoration: none;
  transform: skewX(-15deg);
  border: 1px solid #ffd100;
  transition: 0.3s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  border: 1px solid #fff;
}
.subscribe .button:hover {
  background: #212529;
  color: #fff;
  border: 1px solid #212529;
}

/*********************
Footer Style
*********************/
footer {
  background: #000;
}
footer img {
  width: 150px;
}
footer h4 {
  color: #fff;
}
footer a {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1;
}
footer a:hover {
  color: #ffd100;
}

/*# sourceMappingURL=style.css.map */
